[submodule "mini-rail/lib/pio-sdk"]
	path = mini-rail/lib/pio-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "mini-rail/lib/stb"]
	path = mini-rail/lib/stb
	url = https://github.com/nothings/stb.git
[submodule "mini-rail/lib/pico-sdk"]
	path = mini-rail/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
